#panel {
	width: 492px;
	height: 492px;
	overflow: hidden;
}

.tile {
	width: 117px;
	height: 117px;
	line-height: 117px;
	border: 1px solid silver;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	float: left;
	cursor: pointer;
}

.puzzle1 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/1.png');
}

.puzzle2 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/2.png');
}

.puzzle3 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/3.png');
}

.puzzle4 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/4.png');
}

.puzzle5 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/5.png');
}

.puzzle6 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/6.png');
}

.puzzle7 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/7.png');
}

.puzzle8 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/8.png');
}

.puzzle9 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/9.png');
}

.puzzle10 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/10.png');
}

.puzzle11 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/11.png');
}

.puzzle12 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/12.png');
}

.puzzle13 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/13.png');
}

.puzzle14 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/14.png');
}

.puzzle15 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/15.png');
}

.puzzle16 {
	width: 117px;
	height: 117px;
	background: url('./puzzle/16.png');
}


.img-wrap {
  animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1);
}

@keyframes img-wrap {
  0% {
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}